build
build_clang

results
.results

.cache
compile_commands.json

doxygen/*
!doxygen/.gitkeep

jenkins/jenkins_home/*
!jenkins/jenkins_home/.gitkeep

jenkins/jenkins_ws/*
!jenkins/jenkins_ws/.gitkeep
