build
build_clang

results
.results

.cache
compile_commands.json

projects/doxygen/*
!projects/doxygen/.gitkeep

jenkins/jenkins_home/*
!jenkins/jenkins_home/.gitkeep

jenkins/jenkins_ws/*
!jenkins/jenkins_ws/.gitkeep
